@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Roboto";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}   
@media screen and (min-width: 320px) and (max-width: 800px) {
  .container {
    width: 69.47916666666667vw;
    height: 52.708333333333336vw;
  }
  .main {
    width: 69.47916666666667vw;
    border: 0.23996666666666666vw solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 2.395833333333334vw;
  }
  .yellow {
    width: 69.23996666666666vw;
    height: 6.706799999999998vw;
    background: #ffdc40;
    border-radius: 2.395833333333334vw 2.395833333333334vw 0vw 0vw;
  }
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 3.1126666666666667vw;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 6.229166666666667vw;
    line-height: 7.1875vw;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
  }
  .sort-btn {
    margin-left: 55.10416666666668vw;
    margin-top: 3.5941333333333327vw;
    cursor: pointer;
  }
  .down {
    width: 5.989966666666666vw;
    height: 3.5941333333333327vw;
    opacity: 0.3;
  }
  .down:hover{
    opacity: 2.3;
  }
  input {
    width: 60.61496666666667vw;
    height: 9.583333333333336vw;
    border: none;
    border-radius: 2.395833333333334vw;
    padding-left: 2.395833333333334vw;
    padding-right: 13.416666666666666vw;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 3.3541666666666665vw;
    line-height: 3.833333333333334vw;
  }
  .input-all {
    position: relative;
  }
  .delete-img {
    position: absolute;
    top: 2.4686666666666666vw;
    right: 3.6033333333333335vw;
    margin-right:3.3825333333333334vw;
    cursor: pointer;
    border-radius: 50%;
    width: 4.791666666666668vw;
    height: 4.791666666666668vw;
  }
  .delete-img:hover {
    background-color: #833ae0;
  }
  .wrapper-con {
    overflow: auto;
    overflow-x: hidden;
    width: 60.61496666666667vw;
    border: 0.23996666666666666vw solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 2.395833333333334vw;
    margin-left: 5.031633333333333vw;
    margin-top: 1.9757vw;
    max-height: 30.66666666666667vw;
  }
  div.wrapper {
    width: 68.28163333333332vw;
    box-sizing: border-box;
    padding: 1.1983vw;
    padding-top: 0vw;
    padding-left: 0.9583333333333335vw;
    padding-bottom: 0;
    display: none;
  }
  .item {
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4375000000000002vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
    height: 9.583333333333336vw;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 3.3541666666666665vw;
    line-height: 3.833333333333334vw;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .delete {
    cursor: pointer;
    width: 4.791666666666668vw;
    height: 3.5941333333333327vw;
    margin-right: 4.791666666666668vw;
    width: 4.791666666666668vw;
    height: 4.791666666666668vw;
  }
  .todo-item {
    list-style: none;
    text-decoration: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.7191333333333332vw;
  }
  .button {
    margin: 4.314033333333333vw auto 4.550166666666667vw auto;
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
    width: 38.33333333333334vw;
    height: 10.062499999999998vw;
    background: #833ae0;
    border-radius: 17.0108vw;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 3.3541666666666665vw;
    line-height: 3.833333333333334vw;
    color: #ffffff;
    margin-left: 1.1983vw;
  }
  .btn:hover{
    background-color: #5e3b8c;
  }
  .plus-btn {
    width: 10.062499999999998vw;
    height: 10.062499999999998vw;
    position: absolute;
    background: #9953f1;
    border-radius: 17.0108vw;
  }

  .plus-btn p {
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 3.3541666666666665vw;
    line-height: 3.833333333333334vw;
    text-align: center;
    margin-top: 3.1126666666666667vw;
  }

  .deleted-button {
    border: none;
    background-color: white;
    margin-right: 12.377833333333333vw;
    margin-top: 0.7666666666666667vw;
    cursor: pointer;
    border-radius: 50%;
  }
  .deleted-button img {
    width: 4.791666666666668vw;
    height: 4.791666666666668vw;
  }
  .deleted-button img:hover {
    background-color: #833ae0;
    border-radius: 50%;
    color: white;
  }
    /* ::-webkit-bar-thumb{
    border-top-right-radius:13.043478260869565px;
    border-bottom-right-radius:13.043478260869565px;
    background-color:grey;
  }
  ::-webkit-scrollbar{
   width: 13.043478260869565px;
  } */
}
